# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

www/lib
node_modules
platforms
plugins
www/js/factories/KeyGetter.js
.DS_Store
!www/lib/font-awesome-4.7.0
*/.DS_Store
*/www/css/ionic.app*