/* Empty. Add your own CSS if you like */
.angular-google-map-container{
  height: 400px;
  width: 100%;
}

.scroll {
  height: 100%;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.text-wrap {
  white-space: normal;
}

.markerSearchBar {
  width: 95%;
}

.hidden {
  display: none;
}

.selectedFilter {
  background-color: #00CDCD;
  color: white;
}

.logged-out {
  text-decoration: none;
  color: lightgrey;
}

.logged-out:hover {
  text-decoration: none;
  color: lightgrey;
}

