<ion-view view-title="All Places">
  <ion-content>
    <h1>All Places</h1>
      <div class="row">
        <div class="col">
          <i class="icon ion-search"></i>
          <input ng-model="searchText" placeholder="Search places..." class="markerSearchBar">
        </div>
      </div>
      <p> Filter by Type </p>
      <div class="button-bar">
        <a ng-class="{button: true, selectedFilter: artFilter}" ng-click="filterArt()">Art</a>
        <a ng-class="{button: true, selectedFilter: historicalFilter}" ng-click="filterHistorical()">Historical</a>
        <a ng-class="{button: true, selectedFilter: civilWarFilter}" ng-click="filterCivilWar()">Civil War Site</a>
      </div>
      <!-- <div class="button-bar">
        <a class="button" ng-click="filterAlpha">Alphabetical</a>
        <a class="button" ng-click="filterDistance">Distance</a>
      </div> -->
    <!-- Add filter buttons here -->
    <div class="list card" ng-repeat="markerCard in MarkerCards | filter: searchText" >
      <div class="item item-divider" ng-class="{historicalMarker: markerCard.marker_text}">
        <div class="row">
          <div class="col-75">
           <i class="fa fa-university" ng-show="markerCard.marker_text"></i>
           <i class="fa fa-flag" ng-show="markerCard.civil_war_site === 'X'"></i>
           <i class="fa fa-paint-brush" ng-show="markerCard.description || markerCard.artwork || markerCard.medium"></i>
            <span> {{markerCard.title}} {{markerCard.type}} <span ng-show="markerCard.first_name"> {{markerCard.artwork}} <i> by {{markerCard.first_name}} {{markerCard.last_name}}</i></span></span>
            <!-- <p><i> {{markerCard.distance}} mi. away</i></p> -->
          </div>
          <div class="col">
            <button class="button danger" ng-click="showDescription = !showDescription ">
            <i class="icon ion-arrow-down-b" ng-show="!showDescription"></i>
            <i class="icon ion-arrow-up-b" ng-show="showDescription"></i>
          </button>
          </div>
        </div>
        <div ng-show="showDescription">
          <div class="item item-text-wrap" ng-show="markerCard.marker_text || markerCard.description || markerCard.medium">
            <img src="{{markerCard.photo_link}}" alt="artwork photo" ng-show="markerCard.photo_link">
            <p>
              {{markerCard.marker_text}} {{markerCard.description}}
            </p>
            <p ng-show="markerCard.medium"> MEDIUM: {{markerCard.medium}} </p>
          </div>
          <div class="button-bar">
            <button class="button danger">
              <i class="icon ion-bookmark"></i> Bookmark
            </button>
            <button class="button danger">
              <i class="icon ion-plus"></i> Add to Route
            </button>
            <button class="button danger">
              <i class="icon ion-navigate"></i> Go
            </button>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
