<ion-view view-title="All Places">
  <ion-content>
    <h1>All Places</h1>
      <div class="row">
        <div class="col">
          <i class="icon ion-search"></i>
          <input ng-model="searchText" placeholder="Search places..." class="markerSearchBar">
        </div>
      </div>
      <p> Filter by Type </p>
      <div class="button-bar">
        <a ng-class="{button: true, selectedFilter: artFilter}" ng-click="filterArt()">Art</a>
        <a ng-class="{button: true, selectedFilter: historicalFilter}" ng-click="filterHistorical()">Historical</a>
        <a ng-class="{button: true, selectedFilter: civilWarFilter}" ng-click="filterCivilWar()">Civil War Site</a>
      </div>
      <!-- <div class="button-bar">
        <a class="button" ng-click="filterAlpha">Alphabetical</a>
        <a class="button" ng-click="filterDistance">Distance</a>
      </div> -->
    <!-- Add filter buttons here -->
    <div class="list card" ng-repeat="markerCard in $parent.MarkerCards | filter: searchText" >
      <div class="item item-divider" ng-class="{historicalMarker: markerCard.marker_text}">
        <div class="row">
          <div class="col-75">
           <i class="fa fa-university" ng-show="markerCard.markerType == 'historic'"></i>
           <i class="fa fa-flag" ng-show="markerCard.civil_war_site"></i>
           <i class="fa fa-paint-brush" ng-show="markerCard.markerType == 'metroArt' || markerCard.markerType == 'publicArt'"></i>
            <span> {{markerCard.title}}<span ng-show="markerCard.artistName"> by {{markerCard.artistName}}</i></span></span>
          </div>
          <div class="col">
            <button class="button danger" ng-click="showDescription = !showDescription ">
            <i class="icon ion-arrow-down-b" ng-show="!showDescription"></i>
            <i class="icon ion-arrow-up-b" ng-show="showDescription"></i>
          </button>
          </div>
        </div>
        <div ng-show="showDescription">
          <div class="item item-text-wrap" ng-show="markerCard.marker_text || markerCard.description || markerCard.medium">
            <img src="{{markerCard.image}}" alt="artwork photo" ng-show="markerCard.image">
            <p>
              {{markerCard.description}}
            </p>
            <p ng-show="markerCard.medium"> MEDIUM: {{markerCard.medium}} </p>
          </div>
          <div class="button-bar row">
            <div class="col-33">
              <!-- If logged in -->
              <button class="button danger" ng-click="$parent.AddToBookmarks(markerCard, $index)" ng-show="$parent.loggedInUser" ng-if="!markerCard.isBookmarked">
                <i class="icon ion-bookmark"></i> Bookmark
              </button>
              <span ng-if="markerCard.isBookmarked">
                <i class="bookmarked"> Bookmarked </i>
              </span>
              <!-- If not logged in -->
              <button class="button danger logged-out tooltip" ng-show="!$parent.loggedInUser" title="Please log in to access this feature" animation="fade">
                <i class="icon ion-bookmark"></i> Bookmark
              </button>
            </div>
            <div class="col-33">
              <!-- If logged in -->
              <button class="button danger" ng-click="$parent.tourModal('{{markerCard.uid}}')" ng-show="$parent.loggedInUser">
                <i class="icon ion-plus"></i> Add to Route
              </button>
              <!-- If not logged in -->
              <button class="button danger logged-out tooltip" ng-show="!$parent.loggedInUser" title="Please log in to access this feature" animation="fade">
                <i class="icon ion-plus"></i> Add to Route
              </button>
            </div>
            <div class="col-33">
              <button class="button danger">
                <i class="icon ion-navigate"></i> Go
              </button>
            </div>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
