<ion-view view-title="Edit Tour">
  <ion-content>
    <h1>Edit Tour</h1>
    <!-- Add filter buttons here -->
    <div class="list card" ng-repeat="markerCard in $parent.MarkerCards" >
      <div class="item item-divider" ng-class="{historicalMarker: markerCard.marker_text}">
        <div class="row">
          <div class="col-75">
           <i class="fa fa-university" ng-show="markerCard.marker_text"></i>
           <i class="fa fa-flag" ng-show="markerCard.civil_war_site === 'X'"></i>
           <i class="fa fa-paint-brush" ng-show="markerCard.description || markerCard.artwork || markerCard.medium"></i>
            <span> {{markerCard.title}} {{markerCard.type}} <span ng-show="markerCard.first_name"> {{markerCard.artwork}} <i> by {{markerCard.first_name}} {{markerCard.last_name}}</i></span></span>
            <!-- <p><i> {{markerCard.distance}} mi. away</i></p> -->
          </div>
          <div class="col">
            <button class="button danger" ng-click="showDescription = !showDescription ">
            <i class="icon ion-arrow-down-b" ng-show="!showDescription"></i>
            <i class="icon ion-arrow-up-b" ng-show="showDescription"></i>
          </button>
          </div>
        </div>
        <div ng-show="showDescription">
          <div class="item item-text-wrap" ng-show="markerCard.marker_text || markerCard.description || markerCard.medium">
            <img src="{{markerCard.photo_link}}" alt="artwork photo" ng-show="markerCard.photo_link">
            <p>
              {{markerCard.marker_text}} {{markerCard.description}}
            </p>
            <p ng-show="markerCard.medium"> MEDIUM: {{markerCard.medium}} </p>
          </div>
        </div>
        <div class="button-bar">
          <button class="button danger" ng-click="deletePlace('{{markerCard.uid}}', $index)">
            <i class="icon ion-trash-b"></i> Delete
          </button>
          <button class="button danger" ng-click="increaseOrder('{{markerCard.uid}}', $index)">
            <i class="icon ion-chevron-up"></i> Move Up
          </button>
          <button class="button danger" ng-click="decreaseOrder('{{markerCard.uid}}', $index)">
            <i class="icon ion-chevron-down"></i> Move Down
          </button>
        </div>
      </div>
  </ion-content>
</ion-view>
