<ion-view view-title="Markers">
  <ion-content>
    <ui-gmap-google-map  center="map.center"
                      zoom="map.zoom"
                      >
      <!-- Map markers here -->
        <!-- <ui-gmap-markers
              models="markers" coords="'self'" icon="'icon'" click="onClick" options="'options'" ng-cloak>
        </ui-gmap-markers>
        <ui-gmap-markers
              models="campgrounds" coords="'self'" icon="'icon'" click="onClickCampgrounds" options="'options'" ng-cloak>
        </ui-gmap-markers> -->
      </ui-gmap-google-map>
      <ion-card ng-repeat="historicalCard in HistoricalCards">
        <ion-card-content>
         <ion-icon name="arrow-dropdown"></ion-icon>
          <ion-card-title>
            <p>{{historicalCard.title}}</p>
            </ion-card-title>
          <p>
            <i> {{historicalCard.distance}} mi.</i>
          </p>
        </ion-card-content>
        <ion-row no-padding>
          <!-- <img src="img/nin-live.png"/> -->
        </ion-row>
        <ion-row>
          {{historicalCard.marker_text}}
        </ion-row>
        <ion-row no-padding>
          <ion-col>
            <button ion-button clear small color="danger" icon-left>
              <ion-icon name='star'></ion-icon>
              Favorite
            </button>
          </ion-col>
          <ion-col text-center>
            <button ion-button clear small color="danger" icon-left>
              <ion-icon name="navigate"></ion-icon>
                Start
            </button>
          </ion-col>
          <ion-col text-right>
            <ion-icon name="arrow-dropup"></ion-icon>
          </ion-col>
        </ion-row>
    </ion-card>
  </ion-content>
</ion-view>
